.App {
  text-align: center;
}

.AppContainer {
  display: flex;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #085aff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(248, 22, 22);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.hourglass-wrapper {
  background-color: #e20101;
  /* Set the background color of the spinner container */
  border-radius: 10px;
  /* Add rounded corners if desired */
  padding: 20px;
  /* Adjust the padding as needed */
  border: 1px solid #ccc;
  /* Add a border if desired */
  /* Additional styles as per your design */
}

/* Styling the spinner itself */
.hourglass-wrapper .hourglass-spinner {
  /* Apply styles to the spinner, e.g., change its color */
  color: #306cce;
}